In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# 3 observable trends based on the data.
      One observable trend is that the vast majority of the players are male being over 80% of Pymoli players.
      
      Another trend is that most of the players of Pymoli are from the ages of 15-29 and the ages of 20-24 account for 44% of the players of the game.
      
      Even though women make far less purchases than men based on the how many men play comparatively to women, women on average spend more than men.
      
      The ages from 35-39 spend more on average than any other age group.
     
      The ages 20-24 is where most of the money is grossed as that is the vast majority of players and they spend the second most on average.

In [2]:
purchase_data_Total_Players = purchase_data['SN'].nunique()
purchase_data_Total_Players

576

In [3]:
Total_Players = pd.DataFrame({'Total Players':[purchase_data_Total_Players]})
Total_Players

   Total Players
0            576

In [4]:
#purchase_data.head()

In [5]:
rev = purchase_data['Price'].sum()
rev

2379.77

In [6]:
sumofp = purchase_data['Price'].mean()
sumofp

3.050987179487176

In [7]:
numofitem = purchase_data['Item ID'].nunique()
numofitem

183

In [8]:
numofp = len(purchase_data)
numofp

780

In [9]:
Summary_df = pd.DataFrame({'Number of Unique Items':[numofitem],'Average Price': [sumofp],'Number of Purchases':[numofp],'Total Revenue':[rev]})
#Summary_df

In [10]:
Summary_df['Average Price'] = Summary_df['Average Price'].map('${:.2f}'.format)
Summary_df['Total Revenue'] = Summary_df['Total Revenue'].map('${:,.2f}'.format)
Summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [11]:
purchase_data['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
drop = purchase_data.drop_duplicates(subset = 'SN', keep = 'first')

In [13]:
drop['Gender'].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [14]:
484+81+11

576

In [15]:
males = 484/576*100

In [16]:
females = 81/576*100

In [17]:
other = 11/576*100

In [18]:
Gender_dem = pd.DataFrame({'Total Count':[484,81,11],'Percentage of Players':[males,females,other]},index = ['Male','Female','Other/ Non-Disclosed'])
#Gender_dem

In [19]:
Gender_dem['Percentage of Players'] = Gender_dem['Percentage of Players'].map('{:.2f}'.format)

In [20]:
Gender_dem

                      Total Count Percentage of Players
Male                          484                 84.03
Female                         81                 14.06
Other/ Non-Disclosed           11                  1.91

In [21]:
purchase_data_gender = purchase_data.groupby(['Gender'])
purchase_data_mean = purchase_data_gender.mean()
#purchase_data_mean

In [22]:
purchase_data_sum = purchase_data_gender.sum()
#purchase_data_sum

In [23]:
#Need to get the Avg Total Purchase per Person through by myself cause I'm having a brainfart and this is fast :p
FemAvg = 361.94/81
MalAvg = 1967.64/484
OthAvg = 50.19/11
print(FemAvg)
print(MalAvg)
print(OthAvg)

4.468395061728395
4.065371900826446
4.5627272727272725

In [24]:
Purchase_analysis = pd.DataFrame({'Purchase Count':[113,652,15],'Average Purchase Price':[3.20,3.01,3.35],'Total Purchase Value':[361.94,1967.64,50.19],'Avg Total Purchase per Person':[FemAvg,MalAvg,OthAvg]},index = ['Female','Male','Other/ Non-Disclosed'])
#Purchase_analysis

In [25]:
Purchase_analysis['Average Purchase Price'] = Purchase_analysis['Average Purchase Price'].map('${:.2f}'.format)
Purchase_analysis['Total Purchase Value'] = Purchase_analysis['Total Purchase Value'].map('${:,.2f}'.format)
Purchase_analysis['Avg Total Purchase per Person'] = Purchase_analysis['Avg Total Purchase per Person'].map('${:.2f}'.format)
Purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.01,"$1,967.64",$4.07
Other/ Non-Disclosed,15,$3.35,$50.19,$4.56

In [26]:
agebins = [0,9,14,19,24,29,34,39,99]
nameofbins = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [27]:
drop['Age Group'] = pd.cut(drop['Age'], agebins, labels = nameofbins)
drop.head()

/Users/ErickCalzadilla/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [28]:
drop_Age_Group = drop.groupby('Age Group')
print(drop_Age_Group['Age'].count())

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [29]:
Age1 = 17/576*100
Age2 = 22/576*100
Age3 = 107/576*100
Age4 = 258/576*100
Age5 = 77/576*100
Age6 = 52/576*100
Age7 = 31/576*100
Age8 = 12/576*100

In [30]:
age_demo = pd.DataFrame({'Total Count':[17,22,107,258,77,52,31,12],'Percentage of Players':[Age1,Age2,Age3,Age4,Age5,Age6,Age7,Age8]},index = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
#age_demo

In [31]:
age_demo['Percentage of Players'] = age_demo['Percentage of Players'].map('{:.2f}'.format)
age_demo

       Total Count Percentage of Players
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

In [32]:
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], agebins, labels = nameofbins)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [33]:
purchase_data_Age_Group = purchase_data.groupby('Age Group')
print(purchase_data_Age_Group['Age'].count())

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [34]:
#Purchase Count Average Purchase Price Total Purchase Value Avg Total Purchase per Person
purchase_data_Age_Group['Price'].mean()

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [35]:
purchase_data_Age_Group['Price'].sum()

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [36]:
Avgpp= purchase_data_Age_Group['Price'].sum()/drop_Age_Group['Age'].count()
#Avgpp

In [37]:
Purchase_Age_Analysis= pd.DataFrame\
({'Purchase Count':[ 23,28,136,365,101,73,41,13],'Average Purchase Price':\
  [3.353478,2.956429,3.035956,3.052219,2.900990,2.931507,3.601707,2.941538],\
  'Total Purchase Value':[77.13,82.78,412.89,1114.06,293.00,214.00,147.67,38.24],\
  'Avg Total Purchase per Person':[4.537059,3.762727,3.858785,4.318062,3.805195,4.115385,4.763548,3.186667]}, index = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
#Purchase_Age_Analysis

In [38]:
Purchase_Age_Analysis['Average Purchase Price'] = Purchase_Age_Analysis['Average Purchase Price'].map('${:.2f}'.format)
Purchase_Age_Analysis['Total Purchase Value'] = Purchase_Age_Analysis['Total Purchase Value'].map('${:,.2f}'.format)
Purchase_Age_Analysis['Avg Total Purchase per Person'] = Purchase_Age_Analysis['Avg Total Purchase per Person'].map('${:.2f}'.format)
Purchase_Age_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [39]:
#purchase_data.head()

In [40]:
purchase_data_SN = purchase_data.set_index('SN')
#purchase_data_SN.head()

In [41]:
Testy = purchase_data.groupby('SN')
Testy2 = Testy['Purchase ID'].count()
#Testy2

In [42]:
Testy3 = Testy['Price'].mean()
#Testy3

In [43]:
Testy4 = Testy['Price'].sum()
#Testy4

In [44]:
purchase_data_SN['Purchase Count'] = Testy2
purchase_data_SN['Average Purchase Price'] = Testy3
purchase_data_SN['Total Purchase Value'] = Testy4
Top_Spenders = purchase_data_SN[['Purchase Count','Average Purchase Price','Total Purchase Value']].sort_values\
(['Total Purchase Value'], ascending = False)

In [45]:
Top_Spenders2 = Top_Spenders.drop_duplicates(keep = 'first')
#Top_Spenders2.head()

In [46]:
Top_Spenders2['Average Purchase Price'] = Top_Spenders2['Average Purchase Price'].map('${:.2f}'.format)
Top_Spenders2['Total Purchase Value'] = Top_Spenders2['Total Purchase Value'].map('${:.2f}'.format)
Top_Spenders2.head()

/Users/ErickCalzadilla/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/ErickCalzadilla/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [47]:
purchase_data_Items = purchase_data.set_index(['Item ID', 'Item Name' ])
#purchase_data_Items.head()

In [48]:
Groupie = purchase_data.groupby(['Item ID','Item Name'])
Groupie2 = Groupie['Purchase ID'].count()
#Groupie2

In [49]:
Groupie3 = Groupie['Price'].sum()
#Groupie3

In [50]:
purchase_data_Items['Purchase Count'] = Groupie2
purchase_data_Items['Total Purchase Value'] = Groupie3
Most_pop_items = purchase_data_Items[['Purchase Count','Price','Total Purchase Value']].sort_values\
(['Purchase Count'],ascending = False)

In [51]:
Most_pop_items2 = Most_pop_items.drop_duplicates(keep = 'first')
Most_pop_items2 = Most_pop_items2.rename(columns={'Price':'Item Price'})
Most_pop_items2['Item Price'] = Most_pop_items2['Item Price'].map('${:.2f}'.format)
Most_pop_items2['Total Purchase Value'] = Most_pop_items2['Total Purchase Value'].map('${:.2f}'.format)
Most_pop_items2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04

In [52]:
Most_prof_items = purchase_data_Items[['Purchase Count','Price','Total Purchase Value']].sort_values\
(['Total Purchase Value'],ascending = False)

In [53]:
Most_prof_items2 = Most_prof_items.drop_duplicates(keep = 'first')
Most_prof_items2 = Most_prof_items2.rename(columns={'Price':'Item Price'})
Most_prof_items2['Item Price'] = Most_prof_items2['Item Price'].map('${:.2f}'.format)
Most_prof_items2['Total Purchase Value'] = Most_prof_items2['Total Purchase Value'].map('${:.2f}'.format)
Most_prof_items2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80